/* Home */
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

@media(min-width: 968px) {
  .parallax-container {
    min-height: 480px;
  }
}

/* About */
.about-header {
  min-height: 550px;  
  background: url('../images/sobre-img.jpg');  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}