/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

p {
  line-height: 2rem;
}

.text-z-depth-2 {
  -webkit-text-shadow: 0 1px 1px rgba(0,0,0,0.8);
  text-shadow: 0 1px 1px rgba(0,0,0,0.8);
}

/* Home */
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
}

@media(max-width: 922px) {
  .logo-femgupe {
    max-width: 150px !important;
  }
}

@media(min-width: 922px) {
  .parallax-container {
    min-height: 480px;
  }
}

@media(max-width: 922px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

/* About */
.about-header {
  min-height: 450px;
  background: url('../images/default-banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.footer-custom {
  margin-top: 12em;
}